body {
    margin: 0px;
    padding: 0px;
    background-color: #ededed;
}

#titleLogo {
    background-color: black;
}

#titleLogo p {
    font-size: 50px;
    color: #ffffff;
    padding: 0px;
    margin: 0px 0px 0px 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#topOuterNavi {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#dc191b;
    overflow: hidden;
}

#topNavi {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
  
#topNavi li {
    float: left;
}
  
#topNavi li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#topNavi li a:hover {
    background-color: black;
}

#topNavi .active {
    background-color: black;
}

#content {
    margin: 0 auto;
    width: 80%;
}

footer {
    margin-top: 5%;
    background-color: #dc191b;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 12pt;
    width: 100%;
    color: #ffffff;
    margin: 0px;
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid #ffffff;
}

#content header{
    background-color: #dc191b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    margin: -2%;
    padding-left: 5%;
    color: #ffffff;
    font-weight: bolder;
}

#firstHeader{
    padding-top: 1%;
}


#gamesOnTrend {
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gamesOnTrend li {
    display: inline-block;
    padding: 0px 3%;
}

#gamesOnTrend li a, #gamesOnTrend p {
    display: inline-block;
    font-size: 1.4vw;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

#topNews img {
    width: 100%;
    height: auto;
}

#topNews .title {
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0px;
    left: 0px;
}

#topNews .title p {
    padding-left: 10px;
    font-weight: bolder;
    font-size: 1.3vw;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#topNewsContent1 {
    width: auto;
    margin: 50px;
    position: relative;
    overflow: hidden;
}

#topNewsContents {
    margin: 0px 50px 50px 50px;
}

.top1, .top2 {
    max-width: 49%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.top2 {
    float: right;
}

.bottomNews {
    margin: 20px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 0.5px solid #000000;
}

.bottomNewsThumbnail img {
    width: 100%;
}

.bottomNewsThumbnail {
    margin: 15px 0px;
    float: left;
    width: 20%;
}

.bottomNewsTitle{
    padding-left: 25%;
}

#bottomNewsContents .bottomNewsTitle p {
    font-weight: bolder;
    font-size: 2vw;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: #000000;
}